##econfig
#config Name: BSP REMOTE RECORD
/***************************************************(*****************)
This is Config File For Mockba Mod MidiLoop V4.xx
-- PLEASE EXCUSE ANY TYPOS -- I'm a Developer not a Content Writer ;=)

#make a copy and assign required functions to shortcuts.

Please read the accompanying midiloop-functions-reference.txt files for all
the available functions, triggers and Macros and what not.

This is my Bare Minimum Setup for BeatStep Pro Control channel (set to ch 16)
The Pads Range from 36 (bottom left-51 top right)
This gives you control over the Internal Looper Remotely.
#configuration parameters change values as per needs.
************************************************************/
CONTROL-MIDI-CHANNEL = 16
TRIGGER-THRESHOLD = 127
USE-ABSOLUTE-TRIGGER = 0
MACRO_DELAY = 10
TOUCH-DELAY = 250
POPUP-WAIT-TIME = 50 
USE-ALT-REL-TEMPO-METHOD = 0 
USE-ALT-ABS-TEMPO-METHOD = 0
TEMPO-WINDOW-TIMEOUT=1200
SPECIAL-FUNCTIONS-ON = 1
NUM-PAGES = 4  #for 32x32 matrix => (8*4 x 8*4)
LOG-OUTPUT = 0
PAGING-DELAY = 1

BLINK-SELECT-WHILE-CAPTURING = 0  #enable disable select button blink while audio/video capture.
PAGE-DEBOUNCE = 250 # in ms, any page change requestes within less than this will be rejected (pad macros send triffers two times so this filters out second one.) 
DEBOUNCE-TIME = 1000 # in ms, any special function  requestes like HALF-SPEED, HUMANIZE-CLIP, RANDOMIZE-CLIP... within less than this will be rejected (pad macros send triffers two times so this filters out second one.) 

LOOPBACK-ON = 0
LOOPBACK-ROUTE-16-TO-CONTROL-CH = 1 #any messages sent to ch 16 will echo back to channel 15 on loopbak port.
MIDI-HW-PORT-NAME = Arturia BeatStepPro #Launch Control XL Launch Contro



## IMPORTANT ALWAYS USE some value after = (like -) otherwise the config wont work and midiloop will close.


####################### -- CC MAPPINGS --- ##############################

CC_0 = - #DO NOT USE as might be needed later for Bank MSB
CC_1 = - #modwheel use at your own risk
CC_2 = -
CC_3 = -
CC_4 = -
CC_5 = -
CC_6 = -
CC_7 = - #DO NOT USE use, force will send this value automatically on play and mess up.
CC_8 = -
CC_9 = -
CC_10 = - #DO NOT USE Force sends pan mesages automatically on play. 
CC_11 = -
CC_12 = -
CC_13 = -
CC_14 = -
CC_15 = -
CC_16 = -
CC_17 = -
CC_18 = -
CC_19 = -
CC_20 = -
CC_21 = -
CC_22 = -
CC_23 = -
CC_24 = -
CC_25 = -
CC_26 = -
CC_27 = -
CC_28 = -
CC_29 = -
CC_30 = -
CC_31 = -
CC_32 = - #DO NOT USE THIS IS BANK LSB, Reserved for Absolute TEMPO Multiplier
CC_33 = -
CC_34 = -
CC_35 = -
CC_36 = -
CC_37 = -
CC_38 = -
CC_39 = -
CC_40 = -
CC_41 = -
CC_42 = -
CC_43 = -
CC_44 = -
CC_45 = -
CC_46 = -
CC_47 = -
CC_48 = -
CC_49 = -
CC_50 = -
CC_51 = -
CC_52 = -
CC_53 = -
CC_55 = -
CC_56 = -
CC_57 = -
CC_58 = -
CC_59 = -
CC_60 = -
CC_61 = -
CC_62 = -
CC_63 = -
CC_64 = - #DO NOT USE - SUSTAIN MESSAGE, FORCE ALWAYS SENDS ON PLAY
CC_65 = -
CC_66 = -
CC_67 = -
CC_68 = -
CC_69 = -
CC_70 = -
CC_71 = -
CC_72 = -
CC_73 = -
CC_74 = -
CC_75 = -
CC_76 = -
CC_77 = -
CC_78 = -
CC_79 = -
CC_80 = -
CC_81 = -
CC_82 = -
CC_83 = -
CC_84 = -
CC_85 = -
CC_86 = -
CC_87 = -
CC_88 = -
CC_89 = -
CC_90 = -
CC_91 = -
CC_92 = -
CC_93 = -
CC_94 = -
CC_95 = -
CC_96 = -
CC_97 = -
CC_98 = -
CC_99 = -
CC_100 = -
CC_101 = -
CC_102 = -
CC_103 = -
CC_104 = -
CC_105 = -
CC_106 = -
CC_107 = -
CC_108 = -
CC_109 = -
CC_110 = -
CC_111 = -
CC_112 = -
CC_113 = -
CC_114 = -
CC_115 = -
CC_116 = -
CC_117 = -
CC_118 = -
CC_119 = -
CC_120 = - # DO NOT USE THIS CHANNEL MODE MESSAGE
CC_121 = -
CC_122 = -
CC_123 = - # DO NOT USE THIS CHANNEL MODE MESSAGE
CC_124 = -
CC_125 = -
CC_126 = -
CC_127 = -

################## MIDI NOTE MAPPINGS ########################################
# Note Mappings from older version is kept as is below for compatibility.

NOTE_0 = -
NOTE_1 = -
NOTE_2 = -
NOTE_3 = -
NOTE_4 = -
NOTE_5 = -
NOTE_6 = -
NOTE_7 = -
NOTE_8 = -
NOTE_9 = -
NOTE_10 = -
NOTE_11 = -
NOTE_12 = -
NOTE_13 = -
NOTE_14 = -
NOTE_15 = -
NOTE_16 = -
NOTE_17 = -
NOTE_18 = -
NOTE_19 = -
NOTE_20 = -
NOTE_21 = -
NOTE_22 = -
NOTE_23 = -
NOTE_24 = -
NOTE_25 = -
NOTE_26 = -
NOTE_27 = -
NOTE_28 = -
NOTE_29 = -
NOTE_30 = -
NOTE_31 = -
NOTE_32 = -
NOTE_33 = -
NOTE_34 = -
NOTE_35 = -
NOTE_36 = TOUCH~LOOPER~RECORD-PLAY~855x64
NOTE_37 = TOUCH~LOOPER~REVERSE~525x690
NOTE_38 = TOUCH~LOOPER~BARS~551x64 VALUE--x1
NOTE_39 = TOUCH~LOOPER~BARS~551x64 VALUE++x1
NOTE_40 =  SELECT-TRACK-PREVIOUS
NOTE_41 =  SELECT-TRACK-NEXT
NOTE_42 = TOUCH~LOOPER~CLEAR~350x690
NOTE_43 = TOUCH~LOOPER~PLAY~990x690
NOTE_44 = TOUCH~LOOPER~RECORD-OVERDUB~975x64
NOTE_45 = TOGGLE-METRONOME
NOTE_46 = TOUCH~LOOPER~INPUT~151x64 VALUE--x1
NOTE_47 = TOUCH~LOOPER~INPUT~151x64 VALUE++x1
NOTE_48 = TOUCH~LOOPER~REPLACE~690x690
NOTE_49 = STOP
NOTE_50 = PLAY
NOTE_51 = TOUCH~LOOPER~RECORD~1180x600
NOTE_52 = -
NOTE_53 = -
NOTE_54 = -
NOTE_55 = -
NOTE_56 = -
NOTE_57 = -
NOTE_58 = -
NOTE_59 = -
NOTE_60 = -
NOTE_61 = -
NOTE_62 = -
NOTE_63 = -
NOTE_64 = -
NOTE_65 = -
NOTE_66 = -
NOTE_67 = -
NOTE_68 = -
NOTE_69 = -
NOTE_70 = -
NOTE_71 = -
NOTE_72 = -
NOTE_73 = -
NOTE_74 = -
NOTE_75 = -
NOTE_76 = -
NOTE_77 = -
NOTE_78 = -
NOTE_79 = -
NOTE_80 = -
NOTE_81 = -
NOTE_82 = -
NOTE_83 = -
NOTE_84 = -
NOTE_85 = -
NOTE_86 = -
NOTE_87 = -
NOTE_88 = -
NOTE_89 = -
NOTE_90 = -
NOTE_91 = -
NOTE_92 = -
NOTE_93 = -
NOTE_94 = -
NOTE_95 = -
NOTE_96 = -
NOTE_97 = -
NOTE_98 = -
NOTE_99 = -
NOTE_100 = -
NOTE_101 = -
NOTE_102 = -
NOTE_103 = -
NOTE_104 = -
NOTE_105 = -
NOTE_106 = -
NOTE_107 = -
NOTE_108 = -
NOTE_109 = -
NOTE_110 = -
NOTE_111 = -
NOTE_112 = -
NOTE_113 = -
NOTE_114 = -
NOTE_115 = -
NOTE_116 = -
NOTE_117 = -
NOTE_118 = -
NOTE_119 = -
NOTE_120 = -
NOTE_121 = -
NOTE_122 = -
NOTE_123 = -
NOTE_124 = -
NOTE_125 = -
NOTE_126 = -
NOTE_127 = -

#******  SPECIAL FUNCTION MAPPINGS ***************************


SHIFT+SCENE-1 = -
SHIFT+SCENE-2 = -
SHIFT+SCENE-3 = -
SHIFT+SCENE-4 = -
SHIFT+SCENE-5 = -
SHIFT+SCENE-6 = -
SHIFT+SCENE-7 = -
SHIFT+SCENE-8 = -

# PLEASE AVOID CHANGING THESE SHIFT+EDIT COMMANDS 
SHIFT+EDIT+UP    = RESTART
SHIFT+EDIT+DOWN  = REBOOT 
SHIFT+EDIT+LEFT  = RELOAD-CONFIG  
SHIFT+EDIT+RIGHT = -

EDIT+UP         = -
EDIT+DOWN      =  -
EDIT+LEFT       = -
EDIT+RIGHT      = -
#***** Most of these are useless, but mapped for your exploration/testing. You will likely remap them.

EDIT+QUANTIZE         = -
EDIT+LENGTH           = -
EDIT+DOUBLE           = -
EDIT+CLEAR+AUTOMATION = -
EDIT+METRONOME        = -
EDIT+TC               = -
EDIT+OCT-             = -
EDIT+OCT+             = -


#------------ Some of These ShortCuts Use Touch Gestures -------

KNOBS+UP        = -
KNOBS+DOWN      = -
KNOBS+LEFT      = -
KNOBS+RIGHT     = -

KNOBS+QUANTIZE         = -
KNOBS+LENGTH           = -
KNOBS+DOUBLE           = -
KNOBS+CLEAR+AUTOMATION = -
KNOBS+METRONOME        = -
KNOBS+TC               = -
KNOBS+OCT-             = -
KNOBS+OCT+             = -

KNOBS+SCENE-1 = -
KNOBS+SCENE-2 = -
KNOBS+SCENE-3 = -
KNOBS+SCENE-4 = -
KNOBS+SCENE-5 = -
KNOBS+SCENE-6 = -
KNOBS+SCENE-7 = -
KNOBS+SCENE-8 = -

LAUNCH+UP       = -
LAUNCH+DOWN     = -
LAUNCH+LEFT     = -
LAUNCH+RIGHT    = -

LAUNCH+QUANTIZE         = -
LAUNCH+LENGTH           = -
LAUNCH+DOUBLE           = -
LAUNCH+CLEAR+AUTOMATION = -
LAUNCH+METRONOME        = -
LAUNCH+TC               = -
LAUNCH+OCT-             = -
LAUNCH+OCT+             = -

LAUNCH+SCENE-1 = -
LAUNCH+SCENE-2 = -
LAUNCH+SCENE-3 = -
LAUNCH+SCENE-4 = -
LAUNCH+SCENE-5 = -
LAUNCH+SCENE-6 = -
LAUNCH+SCENE-7 = -
LAUNCH+SCENE-8 = -

MIXER+UP       = -
MIXER+DOWN     = -
MIXER+LEFT     = -
MIXER+RIGHT    = -

MIXER+QUANTIZE         = -
MIXER+LENGTH           = -
MIXER+DOUBLE           = -
MIXER+CLEAR+AUTOMATION = -
MIXER+METRONOME        = -
MIXER+TC               = -
MIXER+OCT-             = -
MIXER+OCT+             = -

MIXER+SCENE-1 = -
MIXER+SCENE-2 = -
MIXER+SCENE-3 = -
MIXER+SCENE-4 = -
MIXER+SCENE-5 = -
MIXER+SCENE-6 = -
MIXER+SCENE-7 = -
MIXER+SCENE-8 = -


SELECT+UP       = -
SELECT+DOWN     = -
SELECT+LEFT     = -
SELECT+RIGHT    = -

SELECT+QUANTIZE         = -
SELECT+LENGTH           = -
SELECT+DOUBLE           = -
SELECT+CLEAR+AUTOMATION = -
SELECT+METRONOME        = -
SELECT+TC               = - 
SELECT+OCT-             = -
SELECT+OCT+             = -

SELECT+SCENE-1 = SCRIPT-5 WAITx500 RELOAD-CONFIG
SELECT+SCENE-2 = SCRIPT-6 WAITx500 RELOAD-CONFIG
SELECT+SCENE-3 = -
SELECT+SCENE-4 = -
SELECT+SCENE-5 = -
SELECT+SCENE-6 = -
SELECT+SCENE-7 = -
SELECT+SCENE-8 = -


NOTE+UP       = -
NOTE+DOWN     = -
NOTE+LEFT     = -
NOTE+RIGHT    = -

NOTE+QUANTIZE         = -
NOTE+LENGTH           = -
NOTE+DOUBLE           = -
NOTE+CLEAR+AUTOMATION = -
NOTE+METRONOME        = -
NOTE+TC               = -
NOTE+OCT-             = -
NOTE+OCT+             = -

NOTE+SCENE-1 = -
NOTE+SCENE-2 = -
NOTE+SCENE-3 = -
NOTE+SCENE-4 = -
NOTE+SCENE-5 = -
NOTE+SCENE-6 = -
NOTE+SCENE-7 = -
NOTE+SCENE-8 = -


############## REMAPPABLE HARDWARE BUTTONS #################
SHIFT+UP =    PAGE+UP #default 
SHIFT+DOWN =  PAGE+DOWN #default
SHIFT+LEFT =  PAGE+LEFT #default
SHIFT+RIGHT = PAGE+RIGHT #default

HW-NAVIGATE = NAVIGATE
HW-ASSIGN-A = ASSIGN-A
HW-ASSIGN-B = ASSIGN-B
HW-MINUS    = MINUS
HW-PLUS     = PLUS
HW-TAP-TEMPO = TAP-TEMPO
HW-CLIP-STOP = CLIP-STOP
HW-UP = ARROW-UP
HW-DOWN =  ARROW-DOWN
HW-LEFT = ARROW-LEFT
HW-RIGHT =  ARROW-RIGHT
