##econfig
#config Name: default
/***************************************************(*****************)
This is Config File For Mockba Mod MidiLoop V4.xx
-- PLEASE EXCUSE ANY TYPOS -- I'm a Developer not a Content Writer ;=)

Please read the accompanying midiloop-functions-reference.txt files for all
the available functions, triggers and Macros and what not.

***************************************************************************/
#configuration parameters change values as per needs.

CONTROL-MIDI-CHANNEL         = 1
TRIGGER-THRESHOLD            = 127
USE-ABSOLUTE-TRIGGER         = 0
MACRO_DELAY                  = 10
TOUCH-DELAY                  = 250
POPUP-WAIT-TIME              = 50 
USE-ALT-REL-TEMPO-METHOD     = 0 
USE-ALT-ABS-TEMPO-METHOD     = 0
TEMPO-WINDOW-TIMEOUT         = 1200
SPECIAL-FUNCTIONS-ON         = 1
NUM-PAGES                    = 4  #for 32x32 matrix => (8*4 x 8*4)
LOG-OUTPUT                   = 0
PAGING-DELAY                 = 1

BLINK-SELECT-WHILE-CAPTURING = 0  #enable disable select button blink while audio/video capture.
PAGE-DEBOUNCE                = 250 # in ms, any page change requestes within less than this will be rejected (pad macros send triffers two times so this filters out second one.) 
DEBOUNCE-TIME                = 1000 # in ms, any special function  requestes like HALF-SPEED, HUMANIZE-CLIP, RANDOMIZE-CLIP... within less than this will be rejected (pad macros send triffers two times so this filters out second one.) 

LOOPBACK-ON = 0
LOOPBACK-ROUTE-16-TO-CONTROL-CH = 1
MIDI-HW-PORT-NAME = SL88


## IMPORTANT ALWAYS USE some value after = (like -) otherwise the config wont work and midiloop will close.
####################### -- CC MAPPINGS --- ##############################

CC_0   = - #DO NOT USE as might be needed later for Bank MSB
CC_1   = - #modwheel use at your own risk
CC_2   = HUMANIZE-CLIP
CC_3   = RANDOMIZE-CLIP
CC_4   = DOUBLE-SPEED
CC_5   = HALF-SPEED
CC_6   = -
CC_7   = - #DO NOT USE use, force will send this value automatically on play and mess up.
CC_8   = HALF-CLIP-LEN
CC_9   = DOUBLE-CLIP-LEN
CC_10  = - #DO NOT USE Force sends pan mesages automatically on play. 
CC_11  = PAGE-1 LAUNCH-SCENE-1 #macro1;
CC_12  = PAGE-2 LAUNCH-SCENE-1 #macro2;
CC_13  = PAGE-3 LAUNCH-SCENE-1 #macro3;
CC_14  = PAGE-4 LAUNCH-SCENE-1 #macro4;
CC_15  = PAGE-5 LAUNCH-SCENE-1 #macro5;
CC_16  = PAGE-6 LAUNCH-SCENE-1 #macro5;
CC_17  = PAGE-7 LAUNCH-SCENE-1 #macro5;
CC_18  = PAGE-8 LAUNCH-SCENE-1 #macro5;
CC_19  = VALUE--x1
CC_20  = VALUE++x1
CC_21  = LAUNCH-SCENE-1
CC_22  = LAUNCH-SCENE-2
CC_23  = LAUNCH-SCENE-3
CC_24  = LAUNCH-SCENE-4
CC_25  = LAUNCH-SCENE-5
CC_26  = LAUNCH-SCENE-6
CC_27  = LAUNCH-SCENE-7
CC_28  = LAUNCH-SCENE-8
CC_29  = LAUNCH-RAND-ALL
CC_30  = LAUNCH-RAND-1-4
CC_31  = LAUNCH-RAND-5-8
CC_32  = - #DO NOT USE THIS IS BANK LSB, Reserved for Absolute TEMPO Multiplier
CC_33  = TRACKS-PAGE-1
CC_34  = TRACKS-PAGE-2
CC_35  = TRACKS-PAGE-3
CC_36  = TRACKS-PAGE-4
CC_37  = TRACKS-PAGE-5
CC_38  = TRACKS-PAGE-6
CC_39  = TRACKS-PAGE-7
CC_40  = TRACKS-PAGE-8
CC_41  = PAGE-1
CC_42  = PAGE-2
CC_43  = PAGE-3
CC_44  = PAGE-4
CC_45  = PAGE-5
CC_46  = PAGE-6
CC_47  = PAGE-7
CC_48  = PAGE-8
CC_49  = -
CC_50  = SELECT-CLIP-UP
CC_51  = SELECT-CLIP-DOWN
CC_52  = SELECT-CLIP-LEFT
CC_53  = SELECT-CLIP-RIGHT
CC_55  = DELETE-CURRENT-SELECTED-CLIP
CC_56  = SELECT-CLIP-1
CC_57  = -
CC_58  = -
CC_59  = TRACKS-PAGE-1 WAITx100 PAGE-1 WAITx10 SELECT-CLIP-1
CC_60  = -
CC_61  = -
CC_62  = -
CC_63  = -
CC_64  = - #DO NOT USE - SUSTAIN MESSAGE, FORCE ALWAYS SENDS ON PLAY
CC_65  = -
CC_66  = -
CC_67  = TRIGGER-CLIP-SLOT-UP
CC_68  = TRIGGER-CLIP-SLOT-LEFT
CC_69  = -
CC_70  = PLAY
CC_71  = STOP
CC_72  = RECORD
CC_73  = SELECT-TRACK-PREVIOUS
CC_74  = SELECT-TRACK-NEXT
CC_75  = LAUNCH-SCENE-PREVIOUS
CC_76  = LAUNCH-SCENE-NEXT
CC_77  = TRIGGER-CLIP-SLOT-DOWN
CC_78  = TRIGGER-CLIP-SLOT-RIGHT
CC_79  = STOP-REWIND
CC_80  = DOUBLE-STOP
CC_81  = CONTINUE
CC_82  = RECORD-ARRANGER
CC_83  = TRIGGER-CLIP-SLOT
CC_84  = -
CC_85  = -
CC_86  = -
CC_87  = -
CC_88  = -
CC_89  = -
CC_90  = -
CC_91  = -
CC_92  = -
CC_93  = ARROW-LEFT
CC_94  = ARROW-RIGHT
CC_95  = ARROW-UP
CC_96  = ARROW-DOWN
CC_97  = TOGGLE-ARP
CC_98  = UNDO
CC_99  = REDO
CC_100 = TOGGLE-TC
CC_101 = TOGGLE-FIXED-LEN-RECORD
CC_102 = TOGGLE-METRONOME
CC_103 = SHOW-EDITOR
CC_104 = TOUCH~SHOW-EDITOR~FOCUS-PRESET~775x20 VALUE--x1 #PREV PRESET
CC_105 = TOUCH~SHOW-EDITOR~FOCUS-PRESET~775x20 VALUE++x1 #NEXT PRESET
CC_106 = TEMPO++x1
CC_107 = TEMPO--x1
CC_108 = -
CC_109 = -
CC_110 = -
CC_111 = -
CC_112 = -
CC_113 = -
CC_114 = -
CC_115 = -
CC_116 = -
CC_117 = -
CC_118 = -
CC_119 = -
CC_120 = - # DO NOT USE THIS CHANNEL MODE MESSAGE
CC_121 = -
CC_122 = -
CC_123 = - # DO NOT USE THIS CHANNEL MODE MESSAGE
CC_124 = -
CC_125 = -
CC_126 = -
CC_127 = -

################## MIDI NOTE MAPPINGS ########################################
# Note Mappings from older version is kept as is below for compatibility.

NOTE_0   = -
NOTE_1   = -
NOTE_2   = -
NOTE_3   = -
NOTE_4   = -
NOTE_5   = -
NOTE_6   = -
NOTE_7   = -
NOTE_8   = -
NOTE_9   = -
NOTE_10  = -
NOTE_11  = -
NOTE_12  = -
NOTE_13  = -
NOTE_14  = -
NOTE_15  = -
NOTE_16  = -
NOTE_17  = -
NOTE_18  = -
NOTE_19  = -
NOTE_20  = -
NOTE_21  = -
NOTE_22  = -
NOTE_23  = -
NOTE_24  = -
NOTE_25  = -
NOTE_26  = -
NOTE_27  = -
NOTE_28  = -
NOTE_29  = -
NOTE_30  = -
NOTE_31  = -
NOTE_32  = -
NOTE_33  = -
NOTE_34  = -
NOTE_35  = -
NOTE_36  = -
NOTE_37  = -
NOTE_38  = -
NOTE_39  = -
NOTE_40  = -
NOTE_41  = SELECT-TRACK-PREVIOUS
NOTE_42  = SELECT-TRACK-NEXT
NOTE_43  = TOUCH~SHOW-EDITOR~FOCUS-PRESET~775x20 VALUE++x1 #next PRESET
NOTE_44  = -
NOTE_45  = -
NOTE_46  = -
NOTE_47  = -
NOTE_48  = -
NOTE_49  = -
NOTE_50  = -
NOTE_51  = TOUCH~SHOW-EDITOR~FOCUS-PRESET~775x20 VALUE--x1 #PREV PRESET
NOTE_52  = -
NOTE_53  = -
NOTE_54  = -
NOTE_55  = -
NOTE_56  = LAUNCH-SCENE-1 # G#2
NOTE_57  = LAUNCH-SCENE-2 # A2
NOTE_58  = LAUNCH-SCENE-3 # Bb2
NOTE_59  = LAUNCH-SCENE-4 # B2
NOTE_60  = LAUNCH-SCENE-5 # C3
NOTE_61  = LAUNCH-SCENE-6 # C#3
NOTE_62  = LAUNCH-SCENE-7 # D3
NOTE_63  = LAUNCH-SCENE-8  # Eb3
NOTE_64  = -
NOTE_65  = -
NOTE_66  = -
NOTE_67  = -
NOTE_68  = -
NOTE_69  = -
NOTE_70  = -
NOTE_71  = -
NOTE_72  = -
NOTE_73  = -
NOTE_74  = -
NOTE_75  = -
NOTE_76  = -
NOTE_77  = -
NOTE_78  = -
NOTE_79  = -
NOTE_80  = -
NOTE_81  = -
NOTE_82  = -
NOTE_83  = -
NOTE_84  = -
NOTE_85  = -
NOTE_86  = -
NOTE_87  = -
NOTE_88  = -
NOTE_89  = -
NOTE_90  = -
NOTE_91  = -
NOTE_92  = -
NOTE_93  = -
NOTE_94  = -
NOTE_95  = STOP-ALL-CLIPS
NOTE_96  = -
NOTE_97  = -
NOTE_98  = -
NOTE_99  = -
NOTE_100 = -
NOTE_101 = -
NOTE_102 = -
NOTE_103 = -
NOTE_104 = -
NOTE_105 = -
NOTE_106 = -
NOTE_107 = -
NOTE_108 = -
NOTE_109 = -
NOTE_110 = -
NOTE_111 = -
NOTE_112 = ARROW-UP
NOTE_113 = ARROW-DOWN 
NOTE_114 = -
NOTE_115 = -
NOTE_116 = -
NOTE_117 = -
NOTE_118 = -
NOTE_119 = -
NOTE_120 = -
NOTE_121 = -
NOTE_122 = TEMPO--x10
NOTE_123 = TEMPO++x10
NOTE_124 = TEMPO--x5
NOTE_125 = TEMPO++x5
NOTE_126 = TEMPO--x1
NOTE_127 = TEMPO++x1

#******  SPECIAL FUNCTION MAPPINGS ***************************
#you can set function to NONE or just delete/comment (plase # in front) the line to not use the Shortcut.

#SHIFT+UP    = RANDOMIZE-CLIP
#SHIFT+DOWN  = HUMANIZE-CLIP
#SHIFT+LEFT  = HALF-CLIP-LEN
#SHIFT+RIGHT = DOUBLE-CLIP-LEN
SHIFT+UP     = PAGE+UP
SHIFT+DOWN   = PAGE+DOWN
SHIFT+LEFT   = PAGE+LEFT
SHIFT+RIGHT  = PAGE+RIGHT

SHIFT+SCENE-1 = - #SCRIPT-1 #refer to the script file for what action it does.
SHIFT+SCENE-2 = - SCRIPT-2 
SHIFT+SCENE-3 = - #SCRIPT-3
SHIFT+SCENE-4 = - #SCRIPT-4
SHIFT+SCENE-5 = - SCRIPT-5
SHIFT+SCENE-6 = - SCRIPT-6
SHIFT+SCENE-7 = - #SCRIPT-7
SHIFT+SCENE-8 = - #SCRIPT-8

# PLEASE AVOID CHANGING THESE SHIFT+EDIT COMMANDS 
SHIFT+EDIT+UP    = RESTART
SHIFT+EDIT+DOWN  = REBOOT 
SHIFT+EDIT+LEFT  = RELOAD-CONFIG  
SHIFT+EDIT+RIGHT = NONE

EDIT+UP    = MPC-SONG 
EDIT+DOWN  = MPC-SEQ 
EDIT+LEFT  = MPC-PROJECT
EDIT+RIGHT = MPC-TRACK-MUTE-GROUP
#***** Most of these are useless, but mapped for your exploration/testing. You will likely remap them.

EDIT+QUANTIZE         = GLOBAL-TEMPO-TOGGLE
EDIT+LENGTH           = MPC-LOCATE
EDIT+DOUBLE           = MPC-16-LEVELS
EDIT+CLEAR+AUTOMATION = MPC-ERASE
EDIT+METRONOME        = MPC-KB-CONTROL
EDIT+TC               = MPC-COMING-SOON
EDIT+OCT-             = TOUCH~LOOPER~PLAY~990x690
EDIT+OCT+             = TOUCH~LOOPER~RECORD~1180x600


#------------ Some of These ShortCuts Use Touch Gestures -------

KNOBS+UP    = TOUCH~MENU~TUNER~910x56
KNOBS+DOWN  = TOUCH~MENU~MENU-21~110x640 #mine is set to sounds browser
KNOBS+LEFT  = TOUCH~MENU~MENU-7~370x300 #mine is set to Arrange
KNOBS+RIGHT = TOUCH~SAMPLER~AUTOSAMPLER~1110x440

KNOBS+QUANTIZE         = SHOW-MIXER
KNOBS+LENGTH           = HALF-SPEED DOUBLE-CLIP-LEN
KNOBS+DOUBLE           = DOUBLE-SPEED HALF-CLIP-LEN
KNOBS+CLEAR+AUTOMATION = -
KNOBS+METRONOME        = -
KNOBS+TC               = SCREENSHOT
KNOBS+OCT-             = VIDEO-CAPTURE
KNOBS+OCT+             = -

KNOBS+SCENE-1 = MENU
KNOBS+SCENE-2 = -
KNOBS+SCENE-3 = -
KNOBS+SCENE-4 = -
KNOBS+SCENE-5 = -
KNOBS+SCENE-6 = -
KNOBS+SCENE-7 = -
KNOBS+SCENE-8 = -

LAUNCH+UP    = KEY-RANGE-SETUP
LAUNCH+DOWN  = SAMPLE-EDITOR
LAUNCH+LEFT  = SAMPLER 
LAUNCH+RIGHT = LOOPER

LAUNCH+QUANTIZE         = SHOW-EDITOR 
LAUNCH+LENGTH           = -
LAUNCH+DOUBLE           = -
LAUNCH+CLEAR+AUTOMATION = -
LAUNCH+METRONOME        = -
LAUNCH+TC               = -
LAUNCH+OCT-             = -
LAUNCH+OCT+             = -

LAUNCH+SCENE-1 = -
LAUNCH+SCENE-2 = -
LAUNCH+SCENE-3 = -
LAUNCH+SCENE-4 = -
LAUNCH+SCENE-5 = -
LAUNCH+SCENE-6 = -
LAUNCH+SCENE-7 = -
LAUNCH+SCENE-8 = -

MIXER+UP    = MIXER-PAN-VOLUME
MIXER+DOWN  = MIXER-EFFECTS
MIXER+LEFT  = MIXER-IO
MIXER+RIGHT = MIXER-SENDS

MIXER+QUANTIZE         = 
MIXER+LENGTH           = -
MIXER+DOUBLE           = -
MIXER+CLEAR+AUTOMATION = -
MIXER+METRONOME        = -
MIXER+TC               = -
MIXER+OCT-             = -
MIXER+OCT+             = -

MIXER+SCENE-1 = DIALOG-RANDOMIZE
MIXER+SCENE-2 = DIALOG-HUMANIZE
MIXER+SCENE-3 = DIALOG-MERGE-PADS
MIXER+SCENE-4 = DIALOG-COPY-PADS
MIXER+SCENE-5 = DIALOG-SPLIT-EVENTS # may have side effect of flatten clip on audio track.
MIXER+SCENE-6 = DIALOG-CLEAR-EVENTS
MIXER+SCENE-7 = CLIP-CLEAR-EVENTS
MIXER+SCENE-8 = CLIP-SPLIT-EVENTS #has a side effect for audio clips; will flatten clip. be careful.

SELECT+UP    = -
SELECT+DOWN  = -
SELECT+LEFT  = -
SELECT+RIGHT = -

SELECT+QUANTIZE         = -
SELECT+LENGTH           = -
SELECT+DOUBLE           = -
SELECT+CLEAR+AUTOMATION = -
SELECT+METRONOME        = -
SELECT+TC               = AUDIO-VIDEO-CAPTURE
SELECT+OCT-             = AUDIO-CAPTURE
SELECT+OCT+             = -

SELECT+SCENE-1 = SCRIPT-5 WAITx500 RELOAD-CONFIG
SELECT+SCENE-2 = SCRIPT-6 WAITx500 RELOAD-CONFIG
SELECT+SCENE-3 = -
SELECT+SCENE-4 = -
SELECT+SCENE-5 = -
SELECT+SCENE-6 = -
SELECT+SCENE-7 = -
SELECT+SCENE-8 = -

NOTE+UP    = -
NOTE+DOWN  = -
NOTE+LEFT  = -
NOTE+RIGHT = -

NOTE+QUANTIZE         = -
NOTE+LENGTH           = -
NOTE+DOUBLE           = -
NOTE+CLEAR+AUTOMATION = -
NOTE+METRONOME        = -
NOTE+TC               = -
NOTE+OCT-             = -
NOTE+OCT+             = -

NOTE+SCENE-1 = -
NOTE+SCENE-2 = -
NOTE+SCENE-3 = -
NOTE+SCENE-4 = -
NOTE+SCENE-5 = -
NOTE+SCENE-6 = -
NOTE+SCENE-7 = -
NOTE+SCENE-8 = -

############## REMAPPABLE HARDWARE BUTTONS #################

HW-NAVIGATE  = NAVIGATE
HW-ASSIGN-A  = TEMPO--x10 #ASSIGN-A
HW-ASSIGN-B  = TEMPO++x10 #ASSIGN-B
HW-MINUS     = MINUS
HW-PLUS      = PLUS
HW-CLIP-STOP = CLIP-STOP
HW-UP        = ARROW-UP
HW-DOWN      = ARROW-DOWN
HW-LEFT      = ARROW-LEFT
HW-RIGHT     = ARROW-RIGHT
